<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Придумыватель мемов</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="wrapper">
		<div id="meme-wrapper">
			<div id="no-meme" class="can-be-hidden">Нажми на кнопку, чтобы придумать мем</div>
			<img id="loading" class="can-be-hidden hidden" src="loading.svg" alt="">
			<img id="meme-image" class="can-be-hidden hidden" src="" alt="">
			<div id="meme-text" class="can-be-hidden hidden"></div>
		</div>
		<button id="generate-meme">ПРИДУМАТЬ МЕМ</button>
	</div>
	<script src="script.js"></script>
</body>
</html>