* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f7f7f7;
}

#wrapper {
	width: 80vmin;
	margin: 2vmin auto;
	text-align: center;
	font-weight: bold;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@keyframes loadingRotation {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

#loading {
	width: 14vmin;
	height: 14vmin;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: loadingRotation 1s linear infinite;
}

#meme-wrapper {
	width: 100%;
	height: 520px;
	background-color: gray;
	position: relative;
}

#no-meme {
	color: white;
	font-size: 8vmin;
	margin: 0 1em; 
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#meme-image {
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
}

#meme-text {
	font-size: 8vmin;
	margin-top: -1.2em;
	color: white;
	-webkit-text-stroke: 0.3vmin black;
}

.can-be-hidden {
	opacity: 1;
	transition: opacity 0.3s ease-in;
}

.hidden {
	opacity: 0 !important;
}

#generate-meme {
	font-size: 4vmin;
	color: white;
	background-color: #696969;
	width: fit-content;
	height: fit-content;
	padding: 0.3em 0.8em;
	margin-top: 2vmin;
	outline: none;
	border: none;
	opacity: 1;
	cursor: pointer;

	transition: background-color linear 0.15s, opacity linear 0.2s;

	&:hover:enabled {
		background-color: #808080;
	}

	&:disabled {
		opacity: 0.5;
	}

	@media (max-width: 400px), (max-height: 400px) {
		width: 100%;
	}
}